__fzf_cd.fish
__fzf_complete.fish
__fzf_find_file.fish
__fzf_get_dir.fish
__fzf_open.fish
__fzf_parse_commandline.fish
__fzf_reverse_isearch.fish
__fzfcmd.fish
__z.fish
__z_add.fish
__z_clean.fish
__z_complete.fish
fish_prompt.fish
fish_right_prompt.fish
fzf_key_bindings.fish
getopts.fish
git_ahead.fish
git_branch_name.fish
git_is_detached_head.fish
git_is_dirty.fish
git_is_empty.fish
git_is_repo.fish
git_is_staged.fish
git_is_stashed.fish
git_is_tag.fish
git_is_touched.fish
git_repository_root.fish
git_untracked_files.fish
host_info.fish
humanize_duration.fish
last_job_id.fish
pwd_info.fish
pwd_is_home.fish
shark.fish
z.awk
zadd.awk
zclean.awk
