#
# Ignore them swap files
# At some point I _should_ set
# my vim swap files to another
# directory, but you know.. I'm lazy :D
#
# I mean, I'm scripting my entire setup
# so what can be expected from me?
#
**.swp

#
# Ignore the log file
#
smm.log

#
# Ignore certificate files
# and cache
#
dotfiles/mutt/cache/headers
dotfiles/mutt/certificates
dotfiles/mutt/cache/bodies

#
# Ignore tmux plugins
#
dotfiles/tmux/plugins

#
# Ignore tmux shell file
#
dotfiles/tmux/tmux.shell.conf

#
# Ignore fisher files
#
dotfiles/fish/completions/fisher.fish
dotfiles/fish/functions/__format_time.fish
dotfiles/fish/functions/__parse_current_folder.fish
dotfiles/fish/functions/__parse_git_branch.fish
dotfiles/fish/functions/debug.fish
dotfiles/fish/functions/fish_greeting.fish
dotfiles/fish/functions/fish_prompt.fish
dotfiles/fish/functions/fish_right_prompt.fish
dotfiles/fish/functions/fish_title.fish
dotfiles/fish/functions/fisher.fish
dotfiles/fish/functions/installer.fish
dotfiles/fish/functions/spin.fish
