#
# Ignore them swap files
# At some point I _should_ set
# my vim swap files to another
# directory, but you know.. I'm lazy :D
#
# I mean, I'm scripting my entire setup
# so what can be expected from me?
#
**.swp

#
# Ignore the log file
#
smm.log

#
# Ignore certificate files
# and cache
#
dotfiles/mutt/cache/headers
dotfiles/mutt/certificates
dotfiles/mutt/cache/bodies

#
# Ignore tmux plugins
#
dotfiles/tmux/plugins

#
# Ignore tmux shell file
#
dotfiles/tmux/tmux.shell.conf
